%form{:method => 'post'}
  - if @error
    %p= @error
  #login_box
    %label{:for => "name"} Project name
    %input{:type => "text", :size => 30, :name => "edit[name]", :id => "name", :value => @project.name}
    %br
    %label{:for => "desc"} Description
    %textarea{:cols => 30, :rows => 8, :name => "edit[description]", :id => "desc"}= @project.description
    %br
    - if @project.public_urls.count > 0
      %h3 Public URLs
      %ul
      - @project.public_urls.each do |link|
        %li.editable
          %a{:href=>link.link}= link.link_text
          %nav.delete_link
            %a.edit_link{:href => "/#{@project.slug}/delete_link/?id=#{link.id}"} Delete URL
    %p
      %a{:href => "/#{@project.slug}/add_link"} Add public url
    %br
    - if @project.repositories.count > 0
      %h3 Repositories
      - @project.repositories.each do |repo|
        %p
          %h4= repo.name
          %nav.delete_repository
            %a.edit_link{:href => "/#{@project.slug}/delete_repo/?id=#{repo.id}"} Delete repository
    %p
      %a{:href => "/#{@project.slug}/add_repo"} Add repository
    %input{:type => "submit", :value => "Save"}