%h2= @project.name

- if current_user && current_user.admin?
  %nav#in_place_edit
    %a{:href => "/#{@project.slug}/edit"} Edit

.desc
  =@project.html_description

- if @project.public_urls.count > 0
  %section#urls
    %h3 Public URLs
    %ul
      - @project.public_urls.each do |link|
        %li
          %a{:href => link.link}= link.link_text

- if @project.repositories.count > 0
  %section#repositories
    %h3 Repositories
    - @project.repositories.each do |repo|
      %dl
        %dt
          %a{:href => repo.url}= repo.name
        - if repo.description and repo.description.downcase != repo.name.downcase
          %dd
            =repo.description
            - if repo.notes.length > 0
              %span.notes
                ="(#{repo.notes})"